<div class="login-container">
  <form fxLayout="column" fxLayoutAlign="center center" autocomplete="off" #f="ngForm" (ngSubmit)="onLogin(f)" fxLayoutGap='10px'>
    <h3 class="login-heading">Login</h3>
    <mat-divider></mat-divider>

    <mat-form-field  [style.width.px]=400 appearance='outline'>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder= "Enter your email address" ngModel name= 'email' email required #emailInput = 'ngModel'>
      <mat-error *ngIf = "emailInput.hasError('required')">Email is required</mat-error>
   </mat-form-field>

   <mat-form-field [style.width.px]=400 appearance='outline'>
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder= "Enter your password" ngModel name = 'password' password required #pwInput="ngModel">
    <mat-error *ngIf="pwInput.hasError('required')">Password is required</mat-error>
   </mat-form-field>

   <button mat-raised-button color="accent" type="submit" class="btn" [disabled]="f.invalid">SUBMIT</button>


  </form>
</div>
