<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="startTraining(f)" #f="ngForm">
  <mat-card fxFlex="400px"> 
      <mat-card-title fxLayoutAlign="center">Time to start a Workout!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
          Select type of training
      </mat-card-content>
      <mat-form-field appearance="outline" fxLayoutAlign="center" color="accent" >
        <mat-label>Trainings</mat-label>
        <mat-select required ngModel name="training">
         <mat-option *ngFor="let ex of excercises"value="{{ex.id}}">{{ex.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="warn" class="btn" type="submit" [disabled]="f.invalid"><mat-icon>local_fire_department</mat-icon> START</button>
      </mat-card-actions>
  </mat-card>
</form>
</section>
