@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
}

.sign-up-container{
    border: 1px solid red;
    width: max-content;
    margin : auto;
    margin-top: 200px;
    padding : 20px 45px;
    overflow: hidden;
}


.btn{
    width : 160px;
    padding :2px 25px;
    margin-top: 25px;
    background-color: #00B4D2;
    font-weight: 600 !important;
    letter-spacing:1.25px;
}

mat-form-field{
    font-size: 15px;
}

mat-checkbox{
    letter-spacing:1.15px;
} 

ul li{
    list-style: none;
}

.sidenav{
    padding: 15px;
}

mat-icon{
    color: black;
}

.nav-menu-label{
    display: inline-block;
    padding-left: 6px;
}