<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/signup" 
        ><mat-icon color="warn">lock</mat-icon>
        <span class="nav-menu-label">Sign up</span></a
      >
      <a mat-list-item routerLink="/login" (click)="sidenav.close()"
        ><mat-icon color="warn">login</mat-icon
        ><span class="nav-menu-label">Login</span>
      </a>
      <a mat-list-item routerLink="/training" (click)="sidenav.close()"
        ><mat-icon color="warn">fitness_center</mat-icon
        ><span class="nav-menu-label">Training</span>
      </a>
     <mat-list-item>
         <button mat-icon-button (click)="sidenav.close()">
             <mat-icon color="warn">logout</mat-icon>
             <span class="nav-menu-label">Log out</span>
         </button>
     </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon fxShow.xs>menu</mat-icon>
        </button>
      </div>
      <div><a routerLink="/">LOGO</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li><a routerLink="/signup">Sign up</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/training">Training</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
