<div class="welcome" fxLayout.gt-md="row" fxLayout ="column" fxLayout. fxLayoutAlign="center center">
  <section>
    <mat-icon class="welcome-icon">hiking</mat-icon>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <mat-icon class="welcome-icon">people</mat-icon>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <mat-icon class="welcome-icon">military_tech</mat-icon>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
</div>
